{% extends 'base.html.twig' %}
{% block title %}L'artiste!{% endblock %}
{% block body %}
      {# NAV  #}
<div class="menu">
    <div class="bar"></div>
</div>
<div class="overlay"></div>
<header>
    {% include 'nav.html.twig' %}
    <h3 class="text-center mt-5 h3-bio">Présentation</h3>
</header>

    {% if  is_granted('ROLE_ADMIN')%}
    <a class="btn btn-primary right marginbtnedit" href="{{ path('app_admin_biographie_edit') }}">
        Modifier
    </a>
    {% endif %}

    <div class="container">
    <div class="row mt-3">
        <div class="col-lg-4 col-md-4 col-sm-12 align-self-center about">
            <img src="images/biographie/{{ image }}" alt="img bio" class="img-fluid">
        </div>

        <div class="col-lg-8 col-md-8 col-sm-12 desc">
            <h3>Jenny</h3>
            <p class="mt-2 p-bio">
                {{ texte }}
            </p>
        </div>
    </div>
    </div>
    {% endblock %}
