{% extends 'base.html.twig' %}

{% block title %}L'artiste!{% endblock %}

{% block body %}
<header>
    <div class="menu">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <nav>
        <ul>

            <li class="nav item">
                <a href="{{ path('app_index_index') }}" class="nav-link" data-text="Accueil">Accueil</a>
            </li>
            <li class="nav item">
                <a href="{{ path('app_admin_biographie_show') }}" class="nav-link" data-text="Bio">Bio</a>
            </li>
            <li class="nav item">
                <a href="" class="nav-link" data-text="Blog">Blog</a>
            </li>
            <li class="nav item">
                <a href="" class="nav-link" data-text="Gallerie">Gallerie</a>
            </li>
            <li class="nav item">
                <a href="" class="nav-link" data-text="Expo">Expo</a>
            </li>

            <li class="nav item">
                <a href="" class="nav-link" data-text="Presse">Presse</a>
            </li>
            <li class="nav item">
                <a href="" class="nav-link" data-text="Contact">Contact</a>
            </li>

            <div class="separator"></div>

            <li class="nav item">
                <a href="{{ path('app_security_login') }}" class="nav-link" data-text="Connexion"><i class="fas fa-sign-in-alt"></i>Connexion</a>
            </li>
            <li class="nav item">
                <a href="{{ path('app_security_register') }}" class="nav-link" data-text="Inscription"><i class="fab fa-wpforms"></i>Inscription</a>
            </li>
        </ul>
    </nav>

    <div id="apropos">

        <div class="profilepic"></div>
        <div class="texteap">
            <h2>Présentation</h2>
            <hr class="hr1">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam, explicabo provident. Ad voluptatem facilis eligendi, ullam dolorum quae ex deserunt inventore excepturi dolores autem consequuntur earum similique, ipsam quidem adipisci!
                Laborum eum animi voluptate id dolor perspiciatis quidem eaque, nam officiis commodi mollitia nobis qui eius, corporis labore quam nesciunt corrupti! Fugiat odit velit dolores quaerat voluptate molestiae nesciunt sequi.
                Maxime assumenda et deserunt ea! Dolorem doloribus soluta labore possimus laborum, culpa dignissimos eum sed saepe dicta porro quia corrupti nobis pariatur vitae aperiam nam nulla? Deleniti dolores repudiandae unde?
                Autem quis eveniet velit, eos adipisci natus. Perspiciatis iure porro quia earum maxime sunt quisquam ut assumenda omnis unde. Dolorum excepturi at consequuntur sunt aspernatur, officia placeat accusantium alias iure.
                Praesentium magnam tempore ut quibusdam maxime quod cum, deserunt saepe beatae blanditiis aliquam dolore veritatis eligendi nisi recusandae, optio incidunt, amet id fugit minus ad deleniti nulla? Harum, eveniet ea!</p>

        </div> <!-- texteap -->
    </div> <!--div A propos -->


{% endblock %}
