{% extends 'base.html.twig' %}

{% block body %}
    {# NAVf  #}
    <div class="menu">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <header>
        {% include 'nav.html.twig' %}
        <div class="containner">
            <div class="resume">
                <div class="image">
                    <img src="images/tamara.jpg" alt="">
                </div>
                <div class="para">
                    <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab, aut beatae earum enim et excepturi harum inventore ipsa maxime nobis non officia optio possimus praesentium quis, temporibus, voluptatibus? Debitis, itaque?</span><span>Cumque dolore nulla officiis quibusdam sit temporibus voluptatem! Autem cum dicta nisi obcaecati suscipit tempora unde, ut. Ad aliquam consequatur doloremque magnam, magni maxime nam, officiis ratione sint veniam vero</p>
                </div>
            </div>
        <!------------------------------------------------------------
                                START SLIDER
        --------------------------------------------------------------->
        <div id="slider">
            <ul class="slides">
                <li class="slide"><img src="images/dylan-mcleod-564445-unsplash.jpg" alt=""></li>
                <li class="slide"><img src="images/tamara.jpg" alt=""></li>
                <li class="slide"><img src="images/sea.jpg" alt=""></li>
                <li class="slide"><img src="images/frankie-cordoba-557829-unsplash.jpg" alt=""></li>
                <li class="slide"><img src="images/11624687-1-lightblue.jpg" alt=""></li>
            </ul>
        </div>

            <div class="pic">
                <div class="p"></div>
                <div class="m"></div>
                <div class="l"></div>
                <div class="p"></div>
            </div>
        </div>
    </header>
    <!-----------------------------------------------------------------
                                END SLIDER
    ------------------------------------------------------------------->

{% endblock %}