{% extends 'base.html.twig' %}

{% block body %}
    <h1>Votre biographie</h1>

    {{ form_start(form) }}
    {{ form_row(form.photo) }}
    {{ form_row(form.description) }}
    <div class="text-right">
        <button type="submit" class="btn btn-primary">
            Modifier
        </button>
    </div>
    {{ form_end(form) }}

{% endblock %}