
    <footer class="container-fluid color-footer mt-1">
        <div class="row">
            <div class="mx-auto text-center">
                <p>
                    &copy;Images Tout Droits Réservés à Christine Rivayrand
                </p>
                <p class="text-center">
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </p>
            </div>
        </div>
    </footer>
