{% block body %}
    <footer class="container-fluid color-footer mt-1">
        <div class="row">
            <div class="col-md-4">
                <h5 class="text-center">Mes Réseaux sociaux</h5>
                <p class="text-center">
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#">
                        <i class="fab fa-facebook-square"></i>
                    </a>
                </p>
            </div>
            <div class="col-md-4">
                <h5 class="text-center">Contacts</h5>
            </div>
            <div class="col-md-4">
                <h5 class="text-center">Crédits</h5>
            </div>
        </div>
    </footer>
{% endblock %}