{% extends 'base.html.twig' %}

{% block title %}Les tableaux{% endblock %}

{% block body %}
            {# NAV  #}
<div class="menu">
    <div class="bar"></div>
</div>
<div class="overlay"></div>
<header>
    {% include 'nav.html.twig' %}
</header>
    <h1 class="text-center mt-4">Les Tableaux</h1>



{% endblock %}
