{% extends 'base.html.twig' %}
{% block title %}Mes expositions!{% endblock %}
{% block body %}
    {# NAV  #}
    <div class="menu">
        <div class="bar"></div>
    </div>
    <div class="overlay"></div>
    <header>
        {% include 'nav.html.twig' %}
    </header>

    <div>
        <h3 class="text-center mt-5 h3-bio">Ma galerie d'art virtuelle</h3>

        {% for monTableau in galerie %}
            <p>
                <a href="/tableau/{{ monTableau.getId }}"><img src="{{ monTableau.getImage }}"></a><br>
                {{ monTableau.getTitre }}<br>
                Lien = /tableau/{{ monTableau.getId }}<br>
            </p>
        {% endfor %}


    </div>
{% endblock %}
